*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P';
  color: white;
}
body{
background-image: url("../common/arcadewall.jpg");
background-size: contain;
}
header{
  margin: 50px auto auto auto;
  background-color:rgba(34, 113, 179, 0.8);
  border-radius: 20px;
  width: 80%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo{
  border-radius: 20px;
  margin: 10px;
}
main{
  text-align: center;
  background-color:rgba(34, 113, 179, 0.8);
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  margin-top: 10% ;
  margin-bottom: 20%;
}

main h1{
  font-size: 50px;
  color: black;
}
li {
  list-style-type: none;
  margin: 35px;
}
li a{
  color: white;
  text-decoration: none;
  font-size: 40px;
}
li a:hover{
  color: red;
  text-decoration: underline;

}
