:root{
  --cell-size: 180px;
  --cell-gutter:20px;
}
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bangers', cursive;
  color: white;
  text-shadow: 1px 1px black;
}
body{
  background-image: url("../common/arcadewall.jpg");
  background-size: contain;
}
nav{
  border-radius: 20px;
  margin: 0px auto 20px auto;
  display: flex;
  justify-content: center;
}
.logo-name-section{
  display: flex;
}
#last-link{
  border-bottom-right-radius: 20px }
#first-link{
    border-bottom-left-radius: 20px;
    background-color: white;
    color: #2271b3;
    display: flex;
    align-items: center;
   }
   #first-link:hover{
     text-decoration: underline;
   }
header{
  margin: 30px auto auto auto;
  background-color:rgba(34, 113, 179, 0.8);
  border: 4px solid white;
  border-radius: 20px;
  width: 80%;
  padding: 0px 40px 40px 40px;
}
#logo{
  border-radius: 20px;
  height: 200px;
  width: 200px;
  border: 4px solid white;
}
nav a{
  text-decoration: none;
  border: 4px solid white;
  font-size: 20px;
  border-top: none;
  background-color: #2271b3;
  padding: 20px;
}

nav a:hover{
  color:#2271b3;
  background-color: white;
}
header h1{
  font-size: 70px;
  line-height: 200px;
  text-align: center;
  margin-left: 20PX;
}
main{
  text-align: center;
  background-color: #2271b3;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  border: 4px solid white;
}

main p{

padding: 15px;
}

.board{
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* ZONA DATI */
.game-data,
.game-area{
  padding: 20px;
}

.game-data{
  margin-top: 30px;
  width: 90%;
  border: 2px solid white;
  border-radius: 20px;
}
.game-area{
position: relative;
}
.game-data h2{
  font-size: 50px;
  margin-bottom: 15px;
  color: red;
}
.game-data p{
  font-size: 30px;
  margin-bottom: 15px;
}


/* GRIGLIA GIOCO */
#grid{
  width: calc((var(--cell-size) + var(--cell-gutter))*3);
  height: calc((var(--cell-size) + var(--cell-gutter))*3);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.cell{
  height: var(--cell-size);
  width:var(--cell-size);
  cursor: pointer;
  background-color: white;

}

.scores{
  border: 2px solid white;
  padding: 20px;
  font-size: 30px;
  line-height: 50px;
  margin: 20px auto;
  height: 150px;
  border-radius: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.scores h3,
.scores span{
  font-family: 'Bebas Neue', cursive;
}

/* ACCHIAPPA LA TALPA */
.bug{
  background-image: url('bug.png');
}

.splat{
  background-image: url('bug-splat.png');
}
/* ALERT */

.game-alert{

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
}
.game-alert-message{
  background-color: rgba(0, 0, 255, 0.8);
  border: 4px solid white;
  padding: 20px;
  border-radius: 20px;
}

.game-alert-regame{
  font-size: 20px;
  margin: 20px 20px;
}
.game-alert-regame a{
  display: block;
  border: 2px solid white;
  padding: 20px;
  text-decoration: none;
  width: 400px;
  margin:auto;
}
.game-alert-regame a:hover{
  color: black;
}



@media only screen and (max-width:1200px) {

  nav a{
    font-size: 45px;
  }
  header{
   width: auto;
   margin: 10px;
  }
  main{
    width: auto;
    margin: 10px;
  }
  .game-data p{
    font-size: 50px;
  }
  .game-data h2{
    font-size: 80px;
  }
  .winning-gif{
    height: 80%;
    width: 80%;
  }
  .game-alert-message{
  font-size: 80px;
  }
  .game-alert-regame a{
   font-size: 50px;
  }
  .scores h3,
  .scores span{
    font-size: 50px;
  }
}
